# Mandatory variable
GEMINI_API_KEY=<GEMINI_API_KEY>

# Langsmith variables (optional)
LANGSMITH_API_KEY=<LANGSMITH_API_KEY>
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=<LANGSMITH_PROJECT>

# Other optional variables
BACKEND_URL=<BACKEND_URL>           # standard: http://127.0.0.1
BACKEND_PORT=<BACKEND_PORT>         # standard: 8000
PROJECT_DIR=PROJECT_DIR_PATH>  # standard: ../out/