# Mandatory variable
GEMINI_API_KEY=<GEMINI_API_KEY>

# Langsmith variables (optional)
LANGSMITH_API_KEY=<LANGSMITH_API_KEY>
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=<LANGSMITH_PROJECT>

# Other optional variables
BACKEND_URL=<BACKEND_URL>
BACKEND_PORT=<BACKEND_PORT>
OUTPUT_FOLDER=<OUTPUT_FOLDER_PATH>